body {
    background-color: #ddd;
    
    .app-container {
        width: 100%;
        height: 100vh;

        h1 {
            &.app-container-title {
                text-align: center;
                margin: 0;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        img {
            &.app-container-image {
                width: 34%;
                margin-left: 33%;
                margin-right: 33%;
            }
        }
    }
}
