body {
	background-color: #2e2e2e;
	.app-container {
		width: 100%;
		height: 100vh;
		.app-counter {
			width: 100px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color: #fff;
			font-size: 26px;
			font-weight: bolder;
		}
		h1 {
			&.app-container-title {
				text-align: center;
				margin: 0;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
		img {
			&.app-container-image {
				width: 32%;
				margin-top: 30px;
				margin-left: 34%;
				margin-right: 34%;
			}
		}
		button {
			&.app-button {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
